<div id="footer" class="block text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>&copy; 2014 - <a href="http://webbox.io">webBox.io</a></p>
            </div>
        </div>
    </div>
</div>