<div id="splash" class="block text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="/"><%= tag :img, :src => "/public/images/webbox5-logo.png", :alt => "webBox5 logo" %></a>
                <h1>webBox5</h1>
                <p class="lead">
                    Her <strong>cuma</strong> 5 dakika&rsquo;lık PodCast.
                </p>
            </div>
        </div>
    </div>
</div>
