<div id="splash">
    <a title="webBox 5" href="/"><%= tag :img, :src => "/public/images/webbox5-logo.png", :alt => "webBox5 logo" %></a>
    <h1>webBox5</h1>
    <p class="lead">
        Her <strong>cuma</strong> 5 dakika&rsquo;lık ilaç niyetine <strong>PodCast</strong>.
    </p>
    
    <p class="links">
        <a title="iTunes ile üye ol" href="https://itunes.apple.com/tr/podcast/webbox5/id897449900?mt=2"><%= icon "apple", ["3x"] %></a>
        <a title="RSS ile üye ol" href="/feed.xml"><%= icon "rss", ["3x"] %></a>
    </p>
</div>
