body {
  background-color: white;
  color: $webbox-color;
  font-family: 'Open Sans', serif;
}

a {
  text-decoration: underline;
}

.block {
  padding: 20px 0;
}

#splash {
  padding: 40px 0;
  border-bottom: 5px solid $webbox-color;
}

#footer {
  background-color: $webbox-color;
  color: white;
  a { color: inherit; }
  p { margin: 0; }
}

.tags {
  margin: 0 0 30px 0;
  .badge {
    background-color: $webbox-color;
    font-weight: 200;
    margin: 0 5px;
    text-decoration: none;
  }
}

.episode {
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  &:last-child {
    padding: 0;
    margin: 0;
  }
}

.sharing {
  margin: 20px 0;
  .fb-like {
    span {
      vertical-align: baseline !important;
    }
  }
}

#markdown-content {
  p:first-child {
    margin: 20px 0;
    font-size: 28px;
    font-weight: 200;
  }
  
  ul {
    list-style: none;
    text-align: left;
    li {
      padding: 4px 0;
    }
  }
}