---
pageable: true
per_page: 10
---
<%= partial "partials/head" %>

<div class="block text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <%= partial "partials/episodes" %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <%= custom_pager :paginate => paginate,
                                 :num_pages => num_pages,
                                 :current_page => page_number,
                                 :prev_page => prev_page,
                                 :next_page => next_page,
                                 :url_home => "/",
                                 :url_schema => "/sayfa/%d/"
                %>
            </div>
        </div>
    </div>
</div>