---
pageable: true
per_page: 10
---

<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <%= partial "partials/head" %>
            </div>
            
            <div class="col-sm-6 col-sm-offset-2">
                <h2>Bölümler</h2>
                <%= partial "partials/episodes", :locals => {
                    :page_articles => page_articles,
                    :paginate => paginate,
                    :num_pages => num_pages,
                    :page_number => page_number,
                    :prev_page => prev_page,
                    :next_page => next_page
                } %>
            </div>
        </div>
    </div>
</div>